<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cherner Capital</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="">
	<meta name="description" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="custom-assets/css/style.css">

</head>

<body>

<!-- Pre loader -->
<div class="preloader">
	<div class="preloader-item">
		<i class="fa-3x text-body fas fa-spinner fa-spin"></i>
	</div>
</div>

<!-- =======================
Header START -->
<header class="navbar-light navbar-sticky navbar-sticky-bg-dark">

	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container align-items-stretch">

			<!-- Logo START -->
            <a class="navbar-brand" href="index.html">
                <img class="cherner-logo navbar-brand-item" src="custom-assets/images/white-logo-header.png" alt="Cherner Capital Logo">
            </a>
            <!-- Logo END -->


			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"> </span>
            </button>

            <!-- Main Menu START -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll mx-auto">
                    <li class="nav-item">	<a class="nav-link" href="index.html">About</a></li>
                    <li class="nav-item">	<a class="nav-link" href="investments.html">Featured Investments</a></li>
                    <li class="nav-item">	<a class="nav-link" href="team.html">Team</a></li>
                    <li class="nav-item">	<a class="nav-link" href="contact.html">Contact</a></li>
                </ul>
            </div>

			<!-- Nav right END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->



<!-- **************** MAIN CONTENT START **************** -->
<main>


	<!-- =======================
	Contact form and map START -->
	<!-- Form START -->
	<section class="cherner p-0 pb-4 pb-md-0 mb-6 position-relative">
		<div class="container">
			<form class="contact-form form-dark form-line" id="contact-form" name="contactform" method="POST" action="assets/include/contact-action.php">

				<div class="row">
					<div class="col-md-6 z-index-m9 position-relative d-flex align-items-center z-index-9">
						<div class="position-relative bg-dark-start py-3 pe-0 pe-md-6">
							<h1 class="text-white display-7">Send us an email</h1>
								<!-- Main form -->
								<div class="row">
									<div class="col-md-6">
										<!-- name -->
										<div class="mb-3 position-relative">
											<input required id="con-name" name="name" type="text" class="form-control" placeholder="Name">
											<span class="focus-border"></span>
										</div>
									</div>
									<div class="col-md-6">
										<!-- email -->
										<div class="mb-3 position-relative">
											<input required id="con-email" name="email" type="email" class="form-control" placeholder="E-mail">
											<span class="focus-border"></span>
										</div>
									</div>
									<div class="col-md-6">
										<!-- name -->
										<div class="mb-3 position-relative">
											<input required id="con-phone" name="phone" type="phone" class="form-control" placeholder="Phone">
											<span class="focus-border"></span>
										</div>
									</div>
									<div class="col-md-6">
										<!-- email -->
										<div class="mb-3 position-relative">
											<input required id="con-organization" name="organization" type="text" class="form-control" placeholder="Organization">
											<span class="focus-border"></span>
										</div>
									</div>
									<div class="col-md-12">
										<!-- Subject -->
										<div class="mb-3 position-relative">
											<input required id="con-subject" name="subject" type="text" class="form-control" placeholder="Subject">
											<span class="focus-border"></span>
										</div>
									</div>
									<div class="col-md-12">
										<!-- Message -->
										<div class="mb-3 position-relative">
											<textarea required id="con-message" name="message" cols="40" rows="6" class="form-control" placeholder="Message"></textarea>
											<span class="focus-border"></span>
										</div>
									</div>	
								</div>
						</div>
					</div>
					<div class="col-md-6 col-md-full-right pe-sm-4">
						<div class="container contact mt-7 ms-4">
							<h2 class="display-8">
								Our Offices
							</h2>
							<hr class="accent">
		
							<h4>Washington D.C.</h4>
							<p>
								8550 Leesburg Pike, Vienna, VA<br/>
								22182, USA
							</p>
		
							<h4>New York</h4>
							<p>
								123 ABC ST, Manhattan, NY<br/>
								00000, USA
							</p>
						</div>
					</div>
				</div> <!-- Row END -->

				<div class="row">
					<div class="col-md-6 mt-5 z-index-m9 position-relative d-flex align-items-center z-index-9">
						<!-- https://www.google.com/recaptcha/admin/create -->
						<!-- submit button -->
						<div class="col-md-12 text-start"><button class="btn btn-primary" type="submit">Submit Comment</button></div>
					</div>
				</div>
			</form>
		</div>
	</section>
	<!-- Form END -->
	<!-- =======================
	Contact form and map END -->
	
	<!-- =======================
	Contact info START -->
	<section class="align-items-center">
		<div class="container">
			<div class="row">
				<!-- Call -->
				<div class="col-md-6 col-lg-3">
					<div class="d-flex flex-row align-items-center mb-3">
						<span class="text-primary display-8 me-3">
							<i class="bi bi-headset"></i>
						</span>
						<h6 class="mt-2"><a href="#">+(703) 847-3877</a></h6>
					</div>
					<p>Call us on above number to get quick solution. Additional charges may apply</p>
				</div>
				<!-- Email -->
				<div class="col-md-6 col-lg-3">
					<div class="d-flex flex-row align-items-center mb-3">
						<span class="text-primary display-8 me-3">
							<i class="bi bi-envelope"></i>
						</span>
						<h6 class="mt-2"><a href="#">general@folio.com</a></h6>
					</div>
					<p>For general queries and questions including partnership opportunities</p>
				</div>
			</div> <!-- Row END -->
		</div>
	</section>
	<!-- =======================
	Contact info END -->




</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Footer (START) -->
<footer class="bg-dark footer-sticky pt-6 text-primary-hover bg-dark-overlay-5 pattern-overlay-3">
	<div class="container cherner">

        <!--Footer Nav -->
		<div class="row">
            <div class="col-md-12 align-items-center">
                <ul class="nav">
                    <li class="nav-item">
                        <h5 class="text-white">
                            <a class="nav-link" href="index.html">About</a>
                        </h5>
                    </li>
                    <li class="nav-item">
                        <h5 class="text-white">
                            <a class="nav-link" href="investments.html">Featured Investments</a>
                        </h5>
                    </li>
                    <li class="nav-item">
                        <h5 class="text-white">
                            <a class="nav-link" href="team.html">Team</a>
                        </h5>
                    </li>
                    <li class="nav-item">
                        <h5 class="text-white">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Footer Nav (END) -->

        <!-- Address Info -->
        <div class="row">
            <div class="col-md-4 col-lg-3">
				<h5 class="mb-4 text-white">Address</h5>
			</div>
        </div>
        <div class="row">
			<div class="col-md-4 col-lg-3 mb-5">
                <h6 class="text-white">Washington D.C.</h6>
				<address>
                    8550 Leesburg Pike, Vienna, VA
                    22182, USA</address>
				<p><a href="#">hello@cherner.com</a> </p>
				<p><a href="#">+(111) 111-1111</a> </p>
			</div>
		</div>
        <!-- Address (END) -->

		<!-- Divider -->
		<div class="divider-light opacity-1"></div>

		<!-- Footer copyright START -->
		<div class="row align-items-center justify-content-md-between py-4">
			<div class="col-md-6">
				<div class="text-center text-md-start">©2024 <a href="https://www.cherner.com/" target="_blank">Cherner Capital</a>. All rights reserved
				</div>
			</div>
			<div class="col-md-6">
			  <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
			  </ul>
			</div>
		</div>
		<!-- Footer copyright END -->

	</div>
</footer>
<!-- Footer (END) -->


<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/jarallax/jarallax.min.js"></script>
<script src="assets/vendor/jarallax/jarallax-video.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
<script src="assets/vendor/imagetraileffects/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/vendor/imagetraileffects/js/TweenMax.min.js"></script>
<script src="assets/vendor/imagetraileffects/js/demo6.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>
