<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cherner Capital</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="">
	<meta name="description" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="custom-assets/css/style.css">

</head>

<body>

<!-- Pre loader -->
<div class="preloader">
	<div class="preloader-item">
		<i class="fa-3x text-body fas fa-spinner fa-spin"></i>
	</div>
</div>


<!-- =======================
Header START -->
<header class="navbar-light navbar-sticky navbar-sticky-bg-dark">

	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container align-items-stretch">

			<!-- Logo START -->
            <a class="navbar-brand" href="index.html">
                <img class="cherner-logo navbar-brand-item" src="custom-assets/images/white-logo-header.png" alt="Cherner Capital Logo">
            </a>
            <!-- Logo END -->


			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"> </span>
            </button>

            <!-- Main Menu START -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll mx-auto">
                    <li class="nav-item">	<a class="nav-link" href="index.html">About</a></li>
                    <li class="nav-item">	<a class="nav-link" href="investments.html">Featured Investments</a></li>
                    <li class="nav-item">	<a class="nav-link" href="team.html">Team</a></li>
                    <li class="nav-item">	<a class="nav-link" href="contact.html">Contact</a></li>
                </ul>
            </div>

			<!-- Nav right END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->



<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- Team Profiles -->
<section class="cherner mid-section">
	<div class="container">
        <div class="">
            <div class="col-md-12">
                <h2 class="display-7">
                    Featured Investments
                </h2>   
                <hr class="accent">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

                <div class="accordion accordion-icon" id="accordionExample2">
                <!-- BEGIN PROPERTIES -->

                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/cherner_properties_o5cvwq.png" alt="avatar">
                            <h5 class="mt-2">Cherner Properties</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Cherner Properties owns and operates varied commercial real estate interests throughout the Mid-Atlantic U.S.
                        </p>
                    </div>
                    <!-- Profile (END) -->

                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_tysons.jpg" alt="avatar">
                            <h5 class="mt-2">The View at Tysons</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Cherner sold +/- 7.5 acres of land in Vienna, VA, capitalizing on a lengthy re-zoning and entitlement process. The site is a planned development project that will comprise of 3MM+ SF of mixed-use space. 
                        </p>
                    </div>
                    <!-- Profile (END) -->
                    
                    
                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_cosmo.jpg" alt="avatar">
                            <h5 class="mt-2">The Cosmopolitan at Reston Town Center</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Cosmopolitan is a 2007-built, 289-unit multifamily property located in Reston, VA.
                        </p>
                    </div>
                    <!-- Profile (END) -->
                    
                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_theloftshillson.webp" alt="avatar">
                            <h5 class="mt-2">The Lofts at Hillson</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Lofts at Hillson is a 2020-built, 70-unit multifamily property located in Nashville, TN. 
                        </p>
                    </div>
                    <!-- Profile (END) -->
                    

                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_eastland-building_uldbz5.png" alt="avatar">
                            <h5 class="mt-2">The Eastland</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Eastland is a 2017-built, 49-unit multifamily property with 3,500 SF of retail space located in Nashville, TN. 
                        </p>
                    </div>
                    <!-- Profile (END) -->
                    
                    <!-- Property -->
                     <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_511_queens.jpg" alt="avatar">
                            <h5 class="mt-2">511 Queens</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            511 Queens is a 2018-built, 64-unit multifamily property located in Charlotte, NC. 
                        </p>
                    </div>
                    <!-- Profile (END) -->
                    
                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_LakePleasant.jpg" alt="avatar">
                            <h5 class="mt-2">Lake Pleasant Pavilion</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Lake Pleasant Pavilion is a 178,403 RSF power retail shopping center located in Peoria, Arizona. Cherner is the mezzanine lender on the property.
                        </p>
                    </div>
                    <!-- Profile (END) -->


                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_walnutcommons.png" alt="avatar">
                            <h5 class="mt-2">Walnut Commons</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Walnut Commons is a 2013-built, 100-unit multifamily property located in Chattanooga, TN. 
                        </p>
                    </div>
                    <!-- Profile (END) -->
                    
                    
                </div>
            </div>
            <div class="col-md-4">

                <div class="accordion accordion-icon" id="accordionExample2">
                <!-- BEGIN PROPERTIES -->

                    
                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_breadfactory.jpg" alt="avatar">
                            <h5 class="mt-2">Bread Factory Lofts</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Bread Factory Lofts is a 1920s-built bread factory converted into a 26-unit multifamily property in 2003, located in Chattanooga, TN. 
                        </p>
                    </div>
                    <!-- Profile (END) -->

                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_artemis_g25ekn.png" alt="avatar">
                            <h5 class="mt-2">Artemis Midtown</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Artemis is a 2015-built, 146-unit multifamily property located in Nashville, TN.
                        </p>
                    </div>
                    <!-- Profile (END) -->

                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_farmhouse.jpg" alt="avatar">
                            <h5 class="mt-2">Farmhouse Hillson</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Hillson is a 2021-built, 248-unit multifamily property located in Nashville, TN.
                        </p>
                    </div>
                    <!-- Profile (END) -->

                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_deerbrook.png" alt="avatar">
                            <h5 class="mt-2">Deerbrook Marketplace</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Deerbrook Marketplace is a 360,250 RSF power retail shopping center located in Humble, Texas. Cherner is the mezzanine lender on the property.
                        </p>
                    </div>
                    <!-- Profile (END) -->

                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_evergreen.png" alt="avatar">
                            <h5 class="mt-2">Ellis at Germantown</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Ellis is a 2013-built, 92-unit multifamily property located in Nashville, TN. 
                        </p>
                    </div>
                    <!-- Profile (END) -->

                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_157.png" alt="avatar">
                            <h5 class="mt-2">1577 Spring Hill Road</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            1577 is a 121,000 RSF office building with 7,100 SF of retail space located in Vienna, VA. 
                        </p>
                    </div>
                    <!-- Profile (END) -->

                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_muriel.jpg" alt="avatar">
                            <h5 class="mt-2">The View at Muriel</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            The View at Muriel is a 2021-built boutique townhome project located in Pittsburgh, PA. 
                        </p>
                    </div>
                    <!-- Profile (END) -->


                </div>
            </div>
            <div class="col-md-4">

                <div class="accordion accordion-icon" id="accordionExample2">
                <!-- BEGIN PROPERTIES -->

                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_caliber_colision.png" alt="avatar">
                            <h5 class="mt-2">Caliber Collision</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Caliber Collision is the largest collision repair company in the United States. 
                            Cherner is Caliber’s Development Partner throughout the Mid-Atlantic. Cherner 
                            sold its first Caliber portfolio to Realty Income (NYSE:O) in 2021 and is growing 
                            its second portfolio.
                        </p>
                    </div>
                    <!-- Profile (END) -->

                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_gowash.jpg" alt="avatar">
                            <h5 class="mt-2">Go! Wash & Waves Car Wash</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Cherner develops, owns and operates a portfolio of car washes in the Mid-Atlantic under the brand names Go! Wash and Waves. 
                        </p>
                    </div>
                    <!-- Profile (END) -->

                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_capitalautomotive.png" alt="avatar">
                            <h5 class="mt-2">Capital Automotive REIT</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Cherner is a founding member of Capital Automotive REIT (CARS). In 1997, Cherner joined three car dealer families to take the real estate investment trust public. Brookfield Properties acquired CARS in 2014.
                        </p>
                    </div>
                    <!-- Profile (END) -->
                
                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_rapid_finance.svg" alt="avatar">
                            <h5 class="mt-2">Rapid Finance</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Cherner founded RapidAdvance (now Rapid Finance) and sold the company to Rockbridge 
                            Growth Equity in 2013. Rapid Finance is a technology-powered financial services 
                            company that provides working capital to small and medium-sized businesses in the 
                            United States. Cherner is now a senior, secured lender to the company.
                        </p>
                    </div>
                    <!-- Profile (END) -->

                     <!-- Property -->
                     <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_elevate_funding.jpg" alt="avatar">
                            <h5 class="mt-2">Elevate Funding</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Cherner founded Elevate Funding, a small business funding company based out of 
                            Gainesville, FL. Elevate’s mission is to help merchants get back on their feet, 
                            catch up with expenses, and continue to run successful businesses.
                        </p>
                    </div>
                    <!-- Profile (END) -->

                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_holistic_logo.jpg" alt="avatar">
                            <h5 class="mt-2">Holistic Industries</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Cherner owns a minority stake in Holistic Industries, the largest private vertically integrated multi- state operator in the cannabis industry.
                        </p>
                    </div>
                    <!-- Profile (END) -->

                    <!-- Property -->
                    <div class="portfolio">
                        <!-- Avatar -->
                        <div class="mx-auto">
                            <img class="avatar-img" src="custom-assets/images/portfolio/property_fullcircle.png" alt="avatar">
                            <h5 class="mt-2">Full Circle Capital Management</h5>
                        </div>
                        
                        <!-- Description -->
                        <p>
                            Cherner is a partner to Full Circle Capital Management, a private credit platform dedicated exclusively to the hospitality industry.
                        </p>
                    </div>
                    <!-- Profile (END) -->

                </div>
            </div>
        </div>
	</div>
</section>
<!-- Team Profiles (END) -->




</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Footer (START) -->
<footer class="bg-dark footer-sticky pt-6 text-primary-hover bg-dark-overlay-5 pattern-overlay-3">
	<div class="container cherner">

        <!--Footer Nav -->
		<div class="row">
            <div class="col-md-12 align-items-center">
                <ul class="nav">
                    <li class="nav-item">
                        <h5 class="text-white">
                            <a class="nav-link" href="index.html">About</a>
                        </h5>
                    </li>
                    <li class="nav-item">
                        <h5 class="text-white">
                            <a class="nav-link" href="investments.html">Featured Investments</a>
                        </h5>
                    </li>
                    <li class="nav-item">
                        <h5 class="text-white">
                            <a class="nav-link" href="team.html">Team</a>
                        </h5>
                    </li>
                    <li class="nav-item">
                        <h5 class="text-white">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Footer Nav (END) -->

        <!-- Address Info -->
        <div class="row">
            <div class="col-md-4 col-lg-3">
				<h5 class="mb-4 text-white">Address</h5>
			</div>
        </div>
        <div class="row">
			<div class="col-md-4 col-lg-3 mb-5">
                <h6 class="text-white">Washington D.C.</h6>
				<address>
                    8550 Leesburg Pike, Vienna, VA
                    22182, USA</address>
				<p><a href="#">hello@cherner.com</a> </p>
				<p><a href="#">+(111) 111-1111</a> </p>
			</div>
		</div>
        <!-- Address (END) -->

		<!-- Divider -->
		<div class="divider-light opacity-1"></div>

		<!-- Footer copyright START -->
		<div class="row align-items-center justify-content-md-between py-4">
			<div class="col-md-6">
				<div class="text-center text-md-start">©2024 <a href="https://www.cherner.com/" target="_blank">Cherner Capital</a>. All rights reserved
				</div>
			</div>
			<div class="col-md-6">
			  <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
			  </ul>
			</div>
		</div>
		<!-- Footer copyright END -->

	</div>
</footer>
<!-- Footer (END) -->


<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/jarallax/jarallax.min.js"></script>
<script src="assets/vendor/jarallax/jarallax-video.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
<script src="assets/vendor/imagetraileffects/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/vendor/imagetraileffects/js/TweenMax.min.js"></script>
<script src="assets/vendor/imagetraileffects/js/demo6.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>