<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cherner Capital</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="">
	<meta name="description" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="custom-assets/css/style.css">

</head>

<body>

<!-- Pre loader -->
<div class="preloader">
	<div class="preloader-item">
		<i class="fa-3x text-body fas fa-spinner fa-spin"></i>
	</div>
</div>


<!-- =======================
Header START -->
<header class="navbar-light navbar-sticky navbar-sticky-bg-dark">

	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container align-items-stretch">

			<!-- Logo START -->
            <a class="navbar-brand" href="index.html">
                <img class="cherner-logo navbar-brand-item" src="custom-assets/images/white-logo-header.png" alt="Cherner Capital Logo">
            </a>
            <!-- Logo END -->


			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"> </span>
            </button>

            <!-- Main Menu START -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll mx-auto">
                    <li class="nav-item">	<a class="nav-link" href="index.html">About</a></li>
                    <li class="nav-item">	<a class="nav-link" href="investments.html">Featured Investments</a></li>
                    <li class="nav-item">	<a class="nav-link" href="team.html">Team</a></li>
                    <li class="nav-item">	<a class="nav-link" href="contact.html">Contact</a></li>
                </ul>
            </div>

			<!-- Nav right END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->



<!-- **************** MAIN CONTENT START **************** -->
<main>



<!-- Team Profiles -->
<section class="cherner mid-section page-section">
	<div class="container">
        <div class="row">
            <div class="col-md-9">
                <div>
                    <h2 class="display-7">
						Team
					</h2>
					<hr class="accent">

					<div class="accordion accordion-icon" id="accordionExample2">
					<!-- BEGIN BIOS -->

						<!-- Profile -->
						<div class="team-profile">
							<!-- Avatar -->
							<div class="avatar avatar-xxxl mx-auto">
								<img class="avatar-img rounded-circle" src="custom-assets/images/team/team_andy_cherner.jpg" alt="avatar">
								<div class="small text-uppercase d-block mt-3 rank">Principal</div>
							</div>
							
							<!-- Bio -->
							<div class="accordion-item">
								<h6 class="accordion-header" id="heading-5">
									<button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-B" aria-expanded="false" aria-controls="collapse-5">
										<h5 class="mt-2">ANDREW CHERNER</h5>
									</button>
								</h6>
								<div id="collapse-B" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample2">
									<div class="accordion-body">
										<p>Andrew is a Principal at Cherner Capital. His primary responsibilities include 
											the management of the organization and overseeing investment, financing, disposition, 
											and strategy. Over three decades, Andrew and his brother, Jonathan have grown the 
											business from an automotive dealership company to a real estate investment firm and 
											family office. Prior to Cherner, Andrew helped found and lead Barretta & Associates 
											into one of the largest private commercial real estate brokerage companies in the 
											Mid-Atlantic U.S.. Andrew graduated from Miami University with a BS in Finance.</p>
									</div>
								</div>
							</div>
						</div>
						<hr class="accent">
						<!-- Profile (END) -->

						<!-- Profile -->
						<div class="team-profile">
							<!-- Avatar -->
							<div class="avatar avatar-xxxl mx-auto">
								<img class="avatar-img rounded-circle" src="custom-assets/images/team/team_jonathan_cherner.jpg" alt="avatar">
								<div class="small text-uppercase d-block mt-3 rank">Principal</div>
							</div>
							
							<!-- Bio -->
							<div class="accordion-item">
								<h6 class="accordion-header" id="heading-5">
									<button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-G" aria-expanded="false" aria-controls="collapse-5">
										<h5 class="mt-2">JONATHAN CHERNER</h5>
									</button>
								</h6>
								<div id="collapse-G" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample2">
									<div class="accordion-body">
										<p>Jonathan is a Principal at Cherner Capital. His primary responsibilities include 
											the management of the organization and overseeing investment, financing, disposition, 
											and strategy. Over three decades, Jonathan and his brother, Andrew have grown the 
											business from an automotive dealership company to a real estate investment firm and 
											family office. Prior to Cherner, Jonathan worked in the Real Estate Investment Banking 
											group at Morgan Stanley in London, UK. He began his career working for a prominent 
											Washington D.C. based real estate developer. Jonathan graduated from Syracuse University 
											with a BS in Finance & Marketing and earned his MBA from Northwestern University’s 
											Kellogg Graduate School of Management with concentrations in Finance & Economics. </p>
									</div>
								</div>
							</div>
						</div>
						<hr class="accent">
						<!-- Profile (END) -->


						<!-- Profile -->
						<div class="team-profile">
							<!-- Avatar -->
							<div class="avatar avatar-xxxl mx-auto">
								<img class="avatar-img rounded-circle" src="custom-assets/images/team/team_alex_cherner.jpg" alt="avatar">
								<div class="small text-uppercase d-block mt-3 rank">Principal</div>
							</div>
							
							<!-- Bio -->
							<div class="accordion-item">
								<h6 class="accordion-header" id="heading-5">
									<button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-A" aria-expanded="false" aria-controls="collapse-5">
										<h5 class="mt-2">ALEXANDER CHERNER</h5>
									</button>
								</h6>
								<div id="collapse-A" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample2">
									<div class="accordion-body">
										<p>
											Alexander is a Principal at Cherner Capital. His primary responsibilities include sourcing, underwriting, 
											and asset managing equity and debt investments. Alexander acquired over 1,000 multifamily apartment units 
											across the Southeast U.S. and deployed approximately $200MM of equity capital into real estate related debt 
											and equity investments since joining the firm in 2021.  Previously, Alexander was on the investment team 
											at EQT Exeter, one of the largest international real estate private equity funds. At EQT, Alexander closed 
											over $1.2Bn in real estate transactions. Before EQT, he worked on the Office Development team at Brookfield 
											Properties in New York; the investment team at 1776, a venture capital firm in Washington D.C.; and the 
											strategy team at AOL in New York. He serves as a Partner at Full Circle Capital Management, a private credit 
											platform dedicated to the hospitality industry. Alexander graduated from Washington University in St. Louis 
											with a BA in Psychology and earned his MBA from Columbia University with concentrations in Real Estate 
											and Economics.
										</p>
									</div>
								</div>
							</div>
						</div>
						<hr class="accent">
						<!-- Profile (END) -->

						
						<!-- Profile -->
						<div class="team-profile">
							<!-- Avatar -->
							<div class="avatar avatar-xxxl mx-auto">
								<img class="avatar-img rounded-circle" src="custom-assets/images/team/team_ben_cherner.jpg" alt="avatar">
								<div class="small text-uppercase d-block mt-3 rank">Principal</div>
							</div>
							
							<!-- Bio -->
							<div class="accordion-item">
								<h6 class="accordion-header" id="heading-5">
									<button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-C" aria-expanded="false" aria-controls="collapse-5">
										<h5 class="mt-2">BENJAMIN CHERNER</h5>
									</button>
								</h6>
								<div id="collapse-C" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample2">
									<div class="accordion-body">
										<p>
											Benjamin is a Principal at Cherner Capital. His primary responsibilities include sourcing, underwriting, 
											and asset managing equity and debt investments. Benjamin acquired over 1,000 multifamily apartment units 
											across the Southeast U.S. and deployed approximately $200MM of equity capital into real estate related 
											debt and equity investments since joining the firm in 2021. Previously, Benjamin oversaw over $1Bn of 
											acquisitions at Equity Street Capital in San Diego, CA and managed the underwriting, due diligence, and 
											implementation of business plans for over 750,000 SF of development projects at Douglas Development 
											Corporation in Washington D.C. Benjamin has managed over 3MM SF of real estate investments including 2,500 
											apartment units, 400,000 SF of office space, and several development projects across various U.S. markets. 
											He began his career at UBS and Merrill Lynch. He serves as a Partner at Full Circle Capital Management, 
											a private credit platform dedicated to the hospitality industry.  Benjamin graduated from Vanderbilt 
											University with a BA in Political Science and from Georgetown University with a Master’s in 
											Real Estate Finance.
										</p>
									</div>
								</div>
							</div>
						</div>
						<hr class="accent">
						<!-- Profile (END) -->


						<!-- Profile -->
						<div class="team-profile">
							<!-- Avatar -->
							<div class="avatar avatar-xxxl mx-auto">
								<img class="avatar-img rounded-circle" src="custom-assets/images/team/team_john_qcotyl.jpg" alt="avatar">
								<div class="small text-uppercase d-block mt-3 rank">Managing Director of Acquisitions & Development</div>
							</div>
							
							<!-- Bio -->
							<div class="accordion-item">
								<h6 class="accordion-header" id="heading-5">
									<button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-F" aria-expanded="false" aria-controls="collapse-5">
										<h5 class="mt-2">JONATHAN ACKAOUI</h5>
									</button>
								</h6>
								<div id="collapse-F" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample2">
									<div class="accordion-body">
										<p>
											Jonathan is a Managing Director of Acquisitions & Development at Cherner Capital. His primary responsibilities 
											include sourcing business and property acquisitions and facilitating transactions from due diligence to close. 
											Jonathan grew Cherner’s Caliber Collision investment from a single location to a portfolio that was sold for 
											$105MM. Jonathan is growing Cherner’s second Caliber portfolio and first car wash portfolio. Prior to Cherner, 
											Jonathan worked in the specialty finance industry for nearly a decade. He served as Director of Sales at Rapid 
											Finance where he collaborated with Rockbridge Growth Equity and Quicken Loans to scale the Direct Sales business 
											unit, growing the division's monthly loan volume over 250%.  He started his career at SenecaOne Finance where he 
											was responsible for the assignment of over $150M in structured assets from asset holders. Jonathan graduated 
											from Virginia Tech with a BS in Finance.
										</p>
									</div>
								</div>
							</div>
						</div>
						<hr class="accent">
						<!-- Profile (END) -->


						<!-- Profile -->
						<div class="team-profile">
							<!-- Avatar -->
							<div class="avatar avatar-xxxl mx-auto">
								<img class="avatar-img rounded-circle" src="custom-assets/images/team/team_michael_cherner.png" alt="avatar">
								<div class="small text-uppercase d-block mt-3 rank">Director of Acquisitions & Asset Management</div>
							</div>
							
							<!-- Bio -->
							<div class="accordion-item">
								<h6 class="accordion-header" id="heading-5">
									<button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-I" aria-expanded="false" aria-controls="collapse-5">
										<h5 class="mt-2">MICHAEL CHERNER</h5>
									</button>
								</h6>
								<div id="collapse-I" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample2">
									<div class="accordion-body">
										<p>
											Michael is a Director of Acquisitions & Asset Management at Cherner Capital. His primary responsibilities 
											include sourcing, underwriting, and asset managing real estate investments. Prior to Cherner, Michael was 
											a Senior Associate at GFI Capital, where he managed the development, business plan execution, and 
											capitalization of a portfolio of hotel assets in New York City, highlighted by a 530,000 SF luxury hotel 
											and condominium on Central Park South. He spearheaded the due diligence and underwriting efforts for $100MM 
											of new development and acquisition opportunities. Before GFI, Michael worked in Cushman & Wakefield's 
											hotel equity, debt, and structured finance group, where he executed over $500MM of investment sales, 
											financings, note sales, and equity recapitalizations. Michael graduated from The Hotel School at Cornell 
											University in 2017 with a concentration in Real Estate.
										</p>
									</div>
								</div>
							</div>
						</div>
						<hr class="accent">
						<!-- Profile (END) -->


						<!-- Profile -->
						<div class="team-profile">
							<!-- Avatar -->
							<div class="avatar avatar-xxxl mx-auto">
								<img class="avatar-img rounded-circle" src="custom-assets/images/team/team_daniel_beno.jpg" alt="avatar">
								<div class="small text-uppercase d-block mt-3 rank">Chief Financial Officer</div>
							</div>
							
							<!-- Bio -->
							<div class="accordion-item">
								<h6 class="accordion-header" id="heading-5">
									<button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-E" aria-expanded="false" aria-controls="collapse-5">
										<h5 class="mt-2">DANIEL BENO</h5>
									</button>
								</h6>
								<div id="collapse-E" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample2">
									<div class="accordion-body">
										<p>
											Daniel is the Chief Financial Officer at Cherner Capital. His primary responsibilities include managing, 
											planning, and implementing all financial-related activities of the company including financial reporting
											and oversight, budgeting, tax, and financial planning. Prior to Cherner, Daniel was the VP of Finance at 
											a Bain Capital portfolio company, Maesa. Before Maesa, he held various finance positions at Coty, where 
											he worked on the company’s $12.5Bn merger with the Proctor & Gamble beauty business. He began his career 
											at Deloitte. Daniel graduated from the University of Michigan with a BA in Economics & Sociology, from 
											St. John’s University with a Master’s in Accounting, and from New York University with an MBA concentrating 
											in Finance & Strategy. Daniel is a CPA in the state of New York. 
										</p>
									</div>
								</div>
							</div>
						</div>
						<hr class="accent">
						<!-- Profile (END) -->


						<!-- Profile -->
						<div class="team-profile">
							<!-- Avatar -->
							<div class="avatar avatar-xxxl mx-auto">
								<img class="avatar-img rounded-circle" src="custom-assets/images/team/team_linnea.jpg" alt="avatar">
								<div class="small text-uppercase d-block mt-3 rank">Asset Manager & Accountant</div>
							</div>
							
							<!-- Bio -->
							<div class="accordion-item">
								<h6 class="accordion-header" id="heading-5">
									<button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-H" aria-expanded="false" aria-controls="collapse-5">
										<h5 class="mt-2">LINNEA MEANS</h5>
									</button>
								</h6>
								<div id="collapse-H" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample2">
									<div class="accordion-body">
										<p>
											Linnea is an Asset Manager & Accountant at Cherner Capital. Linnea’s primary responsibilities include managing the 
											accounting for Cherner’s Caliber Collision portfolio and building relationships within the managing teams of each 
											of Cherner’s Caliber & Car Wash locations. Linnea joined Cherner Capital in 1991, when the firm was in the 
											automotive industry. She previously worked on the corporate accounting team at Caliber Collision and Cherner 
											Automotive Group, where she managed accounting for car dealership and auto body shop portfolios. 
										</p>
									</div>
								</div>
							</div>
						</div>
						<hr class="accent">
						<!-- Profile (END) -->


						
						
						<!-- Profile -->
						<div class="team-profile">
							<!-- Avatar -->
							<div class="avatar avatar-xxxl mx-auto">
								<img class="avatar-img rounded-circle" src="custom-assets/images/team/team_bob_hubbard.jpg" alt="avatar">
								<div class="small text-uppercase d-block mt-3 rank">Emeritus Advisor</div>
							</div>
							
							<!-- Bio -->
							<div class="accordion-item">
								<h6 class="accordion-header" id="heading-5">
									<button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-D" aria-expanded="false" aria-controls="collapse-5">
										<h5 class="mt-2">ROBERT D. HUBBARD JR.</h5>
									</button>
								</h6>
								<div id="collapse-D" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample2">
									<div class="accordion-body">
										<p>
											Bob is an Emeritus Advisor at Cherner Capital. Bob served as the Chief Financial Officer of the firm for nearly 
											three decades and was instrumental to the firm’s long-term growth and success. He joined Cherner in 1996, when 
											the firm was in the automotive industry. Prior to joining Cherner, he was a Senior Manager with a local public 
											accounting firm in Baltimore, MD. He is a member of the American Institute of Certified Public Accountants and 
											the Maryland Association of CPAs. Bob graduated from Mount St. Mary's University with a BS in Accounting. He 
											retired in 2024 and maintains an advisory role at the company.
										</p>
									</div>
								</div>
							</div>
						</div>
						<hr class="accent">
						<!-- Profile (END) -->
						

					</div>
                </div>
            </div>
        </div>
	</div>
</section>
<!-- Team Profiles (END) -->




</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Footer (START) -->
<footer class="bg-dark footer-sticky pt-6 text-primary-hover bg-dark-overlay-5 pattern-overlay-3">
	<div class="container cherner">

        <!--Footer Nav -->
		<div class="row">
            <div class="col-md-12 align-items-center">
                <ul class="nav">
                    <li class="nav-item">
                        <h5 class="text-white">
                            <a class="nav-link" href="index.html">About</a>
                        </h5>
                    </li>
                    <li class="nav-item">
                        <h5 class="text-white">
                            <a class="nav-link" href="investments.html">Featured Investments</a>
                        </h5>
                    </li>
                    <li class="nav-item">
                        <h5 class="text-white">
                            <a class="nav-link" href="team.html">Team</a>
                        </h5>
                    </li>
                    <li class="nav-item">
                        <h5 class="text-white">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Footer Nav (END) -->

        <!-- Address Info -->
        <div class="row">
            <div class="col-md-4 col-lg-3">
				<h5 class="mb-4 text-white">Address</h5>
			</div>
        </div>
        <div class="row">
			<div class="col-md-4 col-lg-3 mb-5">
                <h6 class="text-white">Washington D.C.</h6>
				<address>
                    8550 Leesburg Pike, Vienna, VA
                    22182, USA</address>
				<p><a href="#">hello@cherner.com</a> </p>
				<p><a href="#">+(111) 111-1111</a> </p>
			</div>
		</div>
        <!-- Address (END) -->

		<!-- Divider -->
		<div class="divider-light opacity-1"></div>

		<!-- Footer copyright START -->
		<div class="row align-items-center justify-content-md-between py-4">
			<div class="col-md-6">
				<div class="text-center text-md-start">©2024 <a href="https://www.cherner.com/" target="_blank">Cherner Capital</a>. All rights reserved
				</div>
			</div>
			<div class="col-md-6">
			  <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
			  </ul>
			</div>
		</div>
		<!-- Footer copyright END -->

	</div>
</footer>
<!-- Footer (END) -->


<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/jarallax/jarallax.min.js"></script>
<script src="assets/vendor/jarallax/jarallax-video.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
<script src="assets/vendor/imagetraileffects/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/vendor/imagetraileffects/js/TweenMax.min.js"></script>
<script src="assets/vendor/imagetraileffects/js/demo6.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>